{% filter remove_whitespace %}
<!DOCTYPE html>
<html>
  <head>
	<title>{{ settings.title }}</title>
    {% include 'header-common.html' %}
	{% include 'header.html' %}
  </head>
  <body>
    <!--<div class="bar top">
        {{ boardlist.top }}
    </div>-->

    <!--<header>
      <h1>{{ settings.title }}</h1>
      <div class="subtitle">{{ settings.subtitle }}</div>
    </header>-->

    <center>
      <img class="logo-rules" alt="logo" src="static/Winterchan-Logo-2018-Full-smaller.png"/>
    </center>

    {% include 'rules.html' %}
      
  </body>
</html>
{% endfilter %}








