video {
        position: fixed;
        opacity: .40;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background: url(static/bg.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
}
.box-wrap {
	max-width: 670px;
	min-width: 332px;
	margin: 30px auto;
	overflow: auto;
	padding: 0;
}
.box {
	background: black;
	border: 1px solid #71d2ff;
	width: 330px;
	margin: 8px 0;
	padding: 0;
}
.box ul {
	padding: 2px 15px;
}
.box ul li {
	list-style: none;
	margin: 0;
}
.box.left {
    background: #000000;
    color: #ffffff;
    border: 1px solid #71d2ff;
	float: left;
}
.box.right {
    background: #000000;
    color: #fff;
    border: 1px solid #71d2ff;
	float: right;
}

.box h2 {
	padding: 3px 7px;
	font-size: 12pt;
}
.box img {
	float: none;
	margin: 10px auto;
}
.box.left h2 {
    background: #57c4f7;
    color: #000000;
}
.box.right h2 {
    background: #2692c5;
    color: #000000;
}

body {
	background: black;
	background-image: linear-gradient(rgba(5, 135, 255, 0.28), transparent);
	background-attachment: fixed;
}
header div.subtitle, h1 {
    color: #ffffff;
}

