<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	{% include 'header-common.html' %}
	{% include 'header.html' %}
	<script type="text/javascript">
		active_page = "page";
	</script>
</head>
<body>
	<div id="background_color"></div>
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr>{% endif %}
	<header>
		<h1>{{ title }}</h1>
		<div class="subtitle">
			{% if subtitle %}
				{{ subtitle }}
			{% endif %}
		</div>
		{% if mod and not hide_dashboard_link %}
		<div class="your-a-admin">
			<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>
		</div>
		{% endif %}
	</header>
	{{ body }}
	<hr>
	<footer>
		{% include 'badges.html' %}
		{% include 'footer.html' %}
	</footer>
</body>
</html>
