<div class="rules-pop-contents-guro ban" id="global">
    <h2>BOARD RULES</h2>
    <ol start="0">
		<li>This board is dedicated to the discussion and sharing of "ero guro" and this board contains anime style grotesque graphic violence, abuse, death, murder, necrophilia, etc.</li>
		<li>This board is not intended to be access or used by anyone that cannot handle blood, assault, murder, rape, and death.</li>
        <li>This board does not and will not contain any images of actual people or actual places.</li>
        <li>Any posted images of actual people will be deleted and could result in a instant ban.</li>
		<li>Please cite the artist when you post a work you found inline to help other find their work.</li>
    </ol>
</div>