<div class="ban" id="global">
    <h2>GLOBAL RULES</h2>
    <ol start="0">
		<li>Your mum gay</li>
		<li>Create a thread only if you can’t find a thread that matches the topic you want</li>
		<li>Posting content that is off topic to a particular subject will be deleted and could end in a ban/timeout.</li>
        <li>Do not post in or view any NSFW boards if you are under 18 years of age. (I'm not your parent)</li>
        <li>If you act or post like a dick head you will be Z U C C ed from this site.</li>
		<li>You will respect the winter season and its wonderful freezing temperatures!</li>
		
        <li>Do not call for mods, or announce reports in a thread. I won't save you. (unless its actually something serious)</li>
		<li>You will always respect your lord and savior Yukimi Kazari as he is the reason you’re not dead yet.</li>
		
        <li>Always argue in good faith and avoid using personal attacks. (this applies /p/ and /at/, seriously)</li>
        <li>You should always elaborate on your opinions rather than just rm -rf /others/opinions</li>
        <li>Don't respond with aggression to perceived flames or trolls (or at all.)</li>
        <li>Do not whine and cry about 4chan, 8chan, Lainchan, 9854, "quality", "Kazari", "newfags", mods, bans, or Trump outside of /p/.</li>
        <li>Do not spam or advertise unrelated content. Take that shit to /tripcode/</li>
        <li>Do not post child pornography or questionable 2D, 3D CG, 3D People sexual depictions of children.</li>
		<li>This includes "child models". So be SUPER selective with your "loli's" as I personally think that is child porn.</li>
        <li>If you must post it, spoiler/cover any NSFW content outside of 18+ boards and make sure it's actually relevant to the discussion.</li>
        <li>Do not upload malicious archives. (P.S. You can't inject data in images as all uploads are "redrawn" for privacy reasons)</li>
		<li><b>This one is the most important: If you disrespect the round belly’s of /plump/ or dead body’s of /guro/ it's a instant fucking IP ban, no question asked.</b> You are lower then the dust in my server fans, you feel me?</li>
		
        <li>Read the rules again. <code>/* infinite iteration will fix later */</code></li>
    </ol>
</div>

<div class="ban" id="tips">
    <h2>PRO TIPS FOR COOL KIDS</h2>
    <ul>
        <li>Max file size is 102 MB, Multi-File posts does NOT count all files but each file. (You welcome)</li>
		<li>Winterchan does everything in its power to be the most anon board on the internet, so feel safe here</li>
		<li>When you post a image it is "redrawn" by the server and will strip out any EXIF or hidden data for your privacy</li>
        <li>Winterchan is a place to have your voice heard but not a place for you to drown out others' voices.</li>
        <li>Mods usually ask each other for opinions before doing anything. We hate having to ban someone.</li>
		
        <li>Just relax and try to have fun. Memes are always welcome.</li>
        <li>Visit a board you've never been to. Like /plump/ and /ears/. Don't visit /guro/ if you don't know what it is.</li>
        <li>If you have any issues or what to see what's new go to /acr/ aka the Winter Government</li>
        <li>PDF, ePub, and webm are supported across the boards.</li>
        
		<li>Winterchan is always going through redesigns and edits, if you want something ask!!</li>
		<li>Erase your cache and cookies on a regular biasis sense Winterchan has updates on a daily basis at times.
		<li>The mods are not on powertrips, they are friendly and are trying to ensure the quality of winterchan, not belittle your ideas.</li>
        <li><b>Be smart when posting about potentially illegal activities.</b> I'm watching this server like a hawk.</li>
		<li>We ALWAYS need contributors to our board software, located on <a href="https://code.acr.moe/kazari/winterchan">Komoe Code (winterchan source)</a>. Github is for normalfags.</li>
    </ul>
</div>

